{% block afb_file_widget %}
    <div
        class="afb_file_container"
        data-uploadurl="{{ uploadUriPath|e }}"
        data-removeurl="{{ removeUriPath|e }}"
        data-name="{{ name|e }}"
        data-mapping="{{ mapping|e }}"
        data-upload-mode="{{ uploadMode }}"
        {% if multiple %}
            data-multiple="true"
        {% endif %}
        {% if subject.id %}
            data-id="{{ subject.id|e }}"
        {% endif %}
        {% if jsCallback %}
            data-callback="{{ jsCallback|e }}"
        {% endif %}
        {% if imagePreview %}
            data-imgpreview="true"
        {% endif %}
    >
        <div class="afb_dropzone"{% if files|length > 0 and false == multiple %} style="display:none"{% endif %}>
            {{ label|trans({}, translation_domain) }}
        </div>
        {% set i = 0 %}
        {% if imagePreview %}
            <ul class="afb_upload_preview afb_upload_container">
                {% for file in files %}
                    {% set i = i + 1 %}
                    <li class="afb_preview_item afb_item afb_preview_{{ i }}" data-upload="{{ i }}">
                        <div class="afb_file_preview">
                            {% if fieldFile is not null %}
                            <img src="{{ vich_uploader_asset(file, fieldFile) }}" />
                            {% endif %}
                        </div>
                        <div class="afb_filename">{{ attribute(file, fieldName) }}</div>
                        <div class="afb_file_progress"><div></div></div>
                        <a class="afb_remove_file" href="#" data-upload="{{ i }}" data-id="{{ file.id }}">X</a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <ul class="afb_upload_nopreview afb_upload_container">
                {% for file in files %}
                    {% set i = i + 1 %}
                    <li class="afb_item afb_preview_0" data-upload="{{ i }}">
                        <div class="afb_filename upload-details">{{ attribute(file, fieldName) }}</div>
                        <div class="afb_file_progress upload-details"><div></div></div>
                        <a class="afb_remove_file upload-details" href="#" data-upload="0" data-id="{{ file.id }}">X</a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endblock %}
