{% block afb_file_widget %}
    {% import _self as self %}
    <div class="afb_file_container" {{ block('data_attributes') }}
        {% with {progressBar: true, img: null, fileName:null, uploadId: null, file: null} %}
        data-prototype="{{ block('file_info')|e }}"
        {% endwith %}
    >
        {{ block('dropzone') }}
        {{ block('file_list') }}
    </div>
{% endblock %}

{% block data_attributes %}
    data-uploadurl="{{ uploadUriPath|e }}"
    data-removeurl="{{ removeUriPath|e }}"
    data-removetmpurl="{{ removeTmpUriPath|e }}"
    data-name="{{ name|e }}"
    data-mapping="{{ mapping|e }}"
    data-upload-mode="{{ uploadMode }}"
    {% if multiple %}
        data-multiple="true"
    {% endif %}
    {% if async %}
        data-async="true"
    {% endif %}
    {% if subject.id %}
        data-id="{{ subject.id|e }}"
    {% endif %}
    {% if jsCallback %}
        data-callback="{{ jsCallback|e }}"
    {% endif %}
    {% if imagePreview %}
        data-imgpreview="true"
    {% endif %}
{% endblock %}

{% block dropzone %}
    <div class="afb_dropzone"{% if files|length > 0 and false == multiple %} style="display:none"{% endif %}>
        <label for="afb_file_input-{{ id }}">{{ (dropzoneLabel ?? label)|trans({}, translation_domain) }}</label>
        <input type="file" {% if multiple %}multiple{% endif %} class="afb_file_input" id="afb_file_input-{{ id }}"/>
    </div>
{% endblock %}

{% block file_list %}
    {% set i = 0 %}
    <ul class="{% if imagePreview %}afb_upload_preview{% endif %} afb_upload_container">
        {% for file in files %}
            {% set i = i + 1 %}
            {% with {progressBar: false, img: sherlockode_afb_asset(mapping, file.id), fileName: sherlockode_afb_filename(mapping, file), uploadId: i, file: file} %}
            {{ block('file_info') }}
            {% endwith %}
        {% endfor %}
    </ul>
{% endblock %}

{% block file_info %}
    {% set uploadId = uploadId is null ? '__UPLOAD_ID__' : uploadId %}
    {% set dataId = file and file.id ? file.id : '__DATA_ID__' %}
    {% set fileName = fileName is null ? '__FILE_NAME__' : fileName %}
    {% set img = img is null ? '__FILE_URL__' : img %}

    <li class="{% if imagePreview %}afb_preview_item{% endif %} afb_item afb_preview_{{ uploadId }}" data-upload="{{ uploadId }}">
        {% if imagePreview %}
            <div class="afb_file_preview">
                <img src="{{ img }}"/>
            </div>
        {% endif %}
        <div class="afb_filename upload-details">{{ fileName }}</div>
        {% if progressBar %}
            <div class="afb_file_progress upload-details"><div></div></div>
        {% endif %}
        <a class="afb_remove_file upload-details" href="#" data-upload="{{ uploadId }}" data-id="{{ dataId }}">X</a>
    </li>
{% endblock %}
