{% block afb_file_widget %}
    <div class="afb_file_container" {{ block('data_attributes') }}
         data-prototype="{{ self.view(imagePreview, true)|e }}">
        {{ block('dropzone') }}
        {{ block('file_list') }}
    </div>
{% endblock %}

{% block data_attributes %}
    data-uploadurl="{{ uploadUriPath|e }}"
    data-removeurl="{{ removeUriPath|e }}"
    data-removetmpurl="{{ removeTmpUriPath|e }}"
    data-name="{{ name|e }}"
    data-mapping="{{ mapping|e }}"
    data-upload-mode="{{ uploadMode }}"
    {% if multiple %}
        data-multiple="true"
    {% endif %}
    {% if subject.id %}
        data-id="{{ subject.id|e }}"
    {% endif %}
    {% if jsCallback %}
        data-callback="{{ jsCallback|e }}"
    {% endif %}
    {% if imagePreview %}
        data-imgpreview="true"
    {% endif %}
{% endblock %}

{% block dropzone %}
    <div class="afb_dropzone"{% if files|length > 0 and false == multiple %} style="display:none"{% endif %}>
        <label for="afb_file_input-{{ id }}">{{ label|trans({}, translation_domain) }}</label>
        <input type="file" {% if multiple %}multiple{% endif %} class="afb_file_input" id="afb_file_input-{{ id }}"/>
    </div>
{% endblock %}

{% block file_list %}
    {% set i = 0 %}
    <ul class="{% if imagePreview %}afb_upload_preview{% endif %} afb_upload_container">
        {% for file in files %}
            {% set i = i + 1 %}
            {{ block('file_info') }}
        {% endfor %}
    </ul>
{% endblock %}

{% block file_info %}
    {% import _self as self %}
    {{ self.view(imagePreview, false, sherlockode_afb_asset(mapping, file.id), sherlockode_afb_filename(mapping, file), i, file.id, uploadMode) }}
{% endblock %}

{%- macro view(imagePreview, progressBar, img, imgName, uploadId, dataId, uploadMode) -%}
    {%- spaceless -%}
        {% set uploadId = uploadId is null ? '__UPLOAD_ID__' : uploadId %}
        {% set dataId = uploadId is null ? '__DATA__ID' : dataId %}
        {% set imgName = imgName is null ? '__FILE_NAME__' : imgName %}
        {% set img = img is null ? '__TARGET__' : img %}

        <li class="{% if imagePreview %}afb_preview_item{% endif %} afb_item afb_preview_{{ uploadId }}" data-upload="{{ uploadId }}">
            {% if imagePreview %}
                <div class="afb_file_preview">
                    <img src="{{ img }}"/>
                </div>
            {% endif %}
            <div class="afb_filename upload-details">{{ imgName }}</div>
            {% if progressBar %}
                <div class="afb_file_progress upload-details"><div></div></div>
            {% endif %}
            <a class="afb_remove_file upload-details" href="#" data-upload="{{ uploadId }}" data-id="{{ dataId }}">X</a>
        </li>
    {% endspaceless %}
{% endmacro %}

